{%extends "navbar.html"%}
{% block content %}

<h1 class="page-heading">QuoteCamp</h1>
<img class="campimg" src="{{ url_for('static', filename='img/camp.gif')}}"/>
<h4>A Crowdsourced Quote Catalog</h4>
<h2 class="page-heading">Latest Quotes</h2>
<div class="row">
    {% for quote in latestquotes %}
    <!--Here there will be a for loop of the 6 latest quotes-->
    <div class="col-md">
        <a href="{{ url_for('QuotePage', quote_id=quote.id, category_id=quote.category_id) }}">
            <div class="card border-dark" style="width: 18rem; margin-bottom: 40px;">
                <div class="card-body">
                    <p class="card-text" style="color: #4a4a4a;">{{quote.content}}</p>
                    <h6 class="card-subtitle mb-2 text-muted">{{quote.author}}</h6>                            
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{%endblock%}