{%extends "navbar.html"%}
{% block content %}

<h2 class="page-heading">View Quote</h2>
<h4 class="page-heading">"{{quote.content}}"</h4>
<h5>{{quote.author}}</h5>
<p style="margin-top: 50px;">Organized In: {{quote.category_id}}</p>
<p>Uploaded By {{creator.name}}</p>
<span>
    <a href="{{url_for('EditQuotePage', quote_id=quote.id, category_id=quote.category_id)}}">Edit</a> | 
    <a href="{{url_for('DeleteQuote', quote_id=quote.id, category_id=quote.category_id)}}">Delete</a>
</span>

{%endblock%}